* {
    background-color: #eae4dd;
    font-family: Georgia, sans-serif;
}

body {
    padding: 0 1.5rem;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #c1af9a;
    padding-bottom: 0;
}

#header-img {
    object-fit: cover;
    max-width: 100%;
}

.nav-link {
    display: inline-block;
    margin: 1rem;
    font-size: 18px;
}

.hero-section {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), 
        url("./images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-section h1, h4 {
    font-style: italic;
    text-align: center;
    position: absolute;
    background: transparent;
    outline: none;
}

.hero-section h1 {
    top: 5%;
    left: 23%;
    font-size: 3em;
    color: #FFFFFF;
    letter-spacing: 0.5em;
}

.hero-section h4 {
    top: 25%;
    left: 40%;
    font-size: 1.5em;
    color: #F5F5DC;
}